<div class="card">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <div class="form-row">
        <div class="form-group col-md-4">
          <select id="inputSortBy" class="form-control">
            <option>Sort by</option>
            <option>By Date Ascending</option>
            <option>By Date Descending</option>
            <option>By Alphabetic Ascending</option>
            <option>By Alphabetic Descending</option>
          </select>
        </div>
      </div>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>