<div class="jumbotron jumbotron-navigation">
    <div class="container container-navigation">
      <div class="row row-navigation">
        <div class="navigation-left">
            <p i18n>Reservation List</p>
        </div>
        
        <div class="navigation-center">
            <p i18n>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                tempor incididunt ut labore et dolore magna aliqua. 
            </p>
        </div>

        <div class="navigation-right">
          <a [routerLink]="['/reservation-add']" class="btn btn-secondary" i18n>Create Reservation</a>
        </div>
      </div>
    </div>
</div>