<div class="jumbotron jumbotron-navigation">
    <div class="container container-navigation">
      <div class="row row-navigation">
        <div class="navigation-left">
            <div *ngIf="placeId;else other_content">
                <p i18n>Edit Place</p>
            </div>
            
            <ng-template #other_content>
                <p i18n>Create Place</p>
            </ng-template>
        </div>
        
        <div class="navigation-center">
            <p i18n>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                tempor incididunt ut labore et dolore magna aliqua. 
            </p>
        </div>
  
        <div class="navigation-right">
          <a [routerLink]="['/places']" class="btn btn-secondary" i18n>Place List</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="global-container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <form [formGroup]="placeForm" (ngSubmit)="save()">
  
          <div class="card">
            <div class="card-body">
              <h6 class="card-title">Place Information</h6> 
              <div class="form-group form-row">
                  <div class="col-md-4 col-xs-12">
                      <input type="text" class="form-control" placeholder="Place Name"
                            formControlName="name" required  maxlength="255" 
                            (blur)="search()"/>
                      <div *ngIf="placeForm.get('name').invalid && 
                                  (placeForm.get('name').dirty || placeForm.get('name').touched)">
                          <div class="text-danger font-size-small ml-3" 
                              *ngIf="placeForm.get('name').errors.required" i18n>
                              Name is required.
                          </div>
                          <div class="text-danger font-size-small ml-3" 
                              *ngIf="placeForm.get('name').errors.maxlength" i18n>
                              Name must be at most 255 characters long.
                          </div>
                      </div>
                  </div>
              </div>
              <div class="form-group form-row">
                <div class="col-md-12 col-xs-12">
                  <ckeditor formControlName="description" [config]="config" 
                            [readonly]="false" debounce="500">  
                  </ckeditor>
                </div>
              </div>
        
              <div class="form-group" style="width: 100%;">
                <button class="btn btn-danger mr-1" type="submit" 
                        [disabled]="!placeForm.valid" i18n>Submit</button>
                <a class="btn btn-secondary" [routerLink]="['/places']" i18n>Back</a>
              </div>
            </div>
          </div>
          
        </form>
      </div>
    </div>
  </div>
  
    